* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    display: flex;
    background: radial-gradient(circle, #fffffffc, #ffffff16);
    backdrop-filter: blur(8px);
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #c1c1c151;
    box-shadow: 0 8px 32px #040404;
}

nav ul {
    display: flex;
    gap: 10rem;
    height: 3rem;
    text-align: center;
    padding: 10px 0;
}

nav li {
    list-style-type: none;
    text-align: center;
    transition: transform 0.5s;
    will-change: transform;

}

nav li a{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #040404;
    text-decoration: none;
}

nav li:hover {
    transform: scale(1.1);
    border-bottom: 3px solid #f67409fa;
    border-radius: 5px;
}